<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시글 편집</title>
</head>
<body>
    <h1>게시글 편집</h1>
    <form th:action="@{/posts/edit/{post_id}(post_id=${post.id})}" th:object="${post}" method="post">
        <div>
            <label for="title">제목:</label>
            <input type="text" id="title" name="title" th:value="${post.title}" required />
        </div>
        <div>
            <label for="content">설명:</label>
            <input type="text" id="content" name="content" th:value="${post.content}" required />
        </div>
        <div>
            <button type="submit">게시판 수정</button>
            <button type="button" onclick="window.history.back();">취소</button>
        </div>
    </form>
</body>
</html>